@model AppUserVM
@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Eslesmedi</h1>

<div class="container">
    @using (Html.BeginForm("PasswordReset", "Admin", FormMethod.Post , new { enctype = "multipart/form-data" }))
    {
        <div>
            Yeni Şifre
        </div>
        <div>
            @Html.PasswordFor(x => x.AppUser.Password)
        </div>
        <div>
            Şifre Tekrar
        </div>
        <div>
            @Html.PasswordFor(x => x.AppUser.Control)
        </div>
        <div>
            Email(İsteğe Bağlı.)
        </div>
        <div>
            @Html.TextBoxFor(x => x.AppUser.Email)
        </div>
        <br />
        <button class="btn btn-primary">
            Değiştir
        </button>
    }
</div>
